<div class="container mt-4">
  <h3 class="text-2xl font-semibold text-gray-800 mb-4">Booking Requests</h3>
  
    <div class="table-responsive shadow-sm rounded border">
      <table class="table table-hover align-middle mb-0">
        <thead class="table-dark">
          <tr>
            <th>Customer</th>
            <th>Pick-Up Location</th>
            <th>Drop-Off Location</th>
            <th>Pick-Up DateTime</th>
            <th>Drop-Off DateTime</th>
            <th>Phone Number</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ride of rides">
         
            <td>{{ ride.customer }}</td>
            <td>{{ ride.pickUpLocation }}</td>
            <td>{{ ride.dropOffLocation }}</td>
            <td>{{ ride.pickUpDateTime }}</td>
            <td>{{ ride.dropOffDateTime }}</td>
            <td>{{ ride.phoneNumber }}</td>
            <td>{{ ride.status }}</td>
            <td>

      <button 
         id="acceptButton"
         *ngIf="ride.status === 'Pending' || ride.status === 'Declined'"
         (click)="updateBookingStatus(ride, 'Accepted')" 
         style="
         background-color: #068f06;
         color: white;
         padding: 10px 20px;
         border: none;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-right: 10px;"
        onmouseover="this.style.backgroundColor='#168c16'"
         onmouseout="this.style.backgroundColor='#1c9b1c'">
         Accept
      </button>

        <button 
            id="declineButton"
            *ngIf="ride.status === 'Pending' || ride.status === 'Accepted'"
            (click)="updateBookingStatus(ride, 'Declined')" 
           style="
          background-color: #ea3838;
          color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 8px;
          font-size: 16px;
          cursor: pointer;
          transition: background-color 0.3s ease;"
         onmouseover="this.style.backgroundColor='#d92020'"
         onmouseout="this.style.backgroundColor='#fa2323'">
          Decline
      </button>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>