<!-- Promo Start -->
<section class="promo-sec" style="background: url('images/promo-bg.jpg')no-repeat center center / cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="promo-wrap text-center">
                    <h2 class="fw-bold text-white text-uppercase">Book your Ride</h2>
                    <nav aria-label="breadcrumb w-75 mx-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Book Ride</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Promo End -->

<!-- Main Start -->
<main class="main sec-padding">
    <div class="container">
        <div class="row pb-5 mb-5">
            <div class="col-lg-12">
                <div class="card bg-light booking-sec">
                    <div class="text-center col-xl-7 col-md-10 mx-auto">
                        <h2 class="sec-title">Book your Ride Today!</h2>
                        <p>Booking your ride is a super easy process. Voluptatem fugiat nesciunt ab quis impedit esse
                            dicta. Reiciendis officia,
                            optio aut adipisci accusantium ullam perferendis deleniti. Obcaecati, placeat quas?</p>
                    </div>
                    <form action="#" class="booking-form mt-5 row">

                        <div class="form-group col-lg-6">
                            <input class="form-control" type="text" placeholder="Your Name">
                            <span><i class="fa fa-user"></i></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <input class="form-control" type="text" placeholder="Phone Number">
                            <span><i class="fa fa-phone"></i></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <input class="form-control" type="text" placeholder="Pick Up point">
                            <span><i class="fa fa-location-dot"></i></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <input class="form-control" type="text" placeholder="Drop Off point">
                            <span><i class="fa fa-location-dot"></i></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <select class="wide" name="#" id="passenger">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="5+">5+</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <select class="wide" name="#" id="select-car">
                                <option value="1">Select Car</option>
                                <option value="BMW">BMW</option>
                                <option value="volvo">Volbo</option>
                                <option value="audi">Audi</option>
                                <option value="Jeep">Jeep</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" name="foo" placeholder="Select Date">
                            <span><i class="fa fa-calendar"></i></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" class="timepicker" placeholder="Select Time" />
                            <span><i class="fa fa-clock"></i></span>
                        </div>
                        <div class="form-group col-lg-12">
                            <textarea placeholder="Your Message..." name="" id="" cols="30" rows="6"></textarea>
                            <span><i class="fa fa-pen"></i></span>
                        </div>
                        <div class="form-group text-center mt-5">
                            <button class="btn btn-primary">Book Now <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <span class="dot-title text-uppercase">price and planning</span>
                <h2 class="sec-title text-uppercase">Experience <span>luxury</span> on the move with our premium
                    <span>package.</span>
                </h2>
            </div>
        </div>
        <div class="row mt-5 pt-5">
            <div class="col-xl-3 col-md-6">
                <div class="package-item ct-bg position-relative text-center">
                    <span class="package-name text-uppercase">Basic Package</span>
                    <div class="pricing-box">
                        <h3><sup>$</sup>38</h3>
                        <span class="text-mute text-xs">Per user / Month</span>
                    </div>
                    <ul>
                        <li>Standard Economy Cars</li>
                        <li>Access to all basic features of the ride-sharing app</li>
                        <li>Standard pickup and drop-off service</li>
                        <li>No surge pricing during peak hours</li>
                        <li>24/7 customer support</li>
                    </ul>
                    <a href="#" class="btn btn-primary mt-4">Get Started <i class="fa fa-arrow-right"></i></a>
                </div>
            </div><!--  Package End -->
            <div class="col-xl-3 col-md-6">
                <div class="package-item ct-bg position-relative text-center">
                    <span class="package-name text-uppercase">Premium Package</span>
                    <div class="pricing-box">
                        <h3><sup>$</sup>99</h3>
                        <span class="text-mute text-xs">Per user / Month</span>
                    </div>
                    <ul>
                        <li>Standard Economy Cars</li>
                        <li>Access to all basic features of the ride-sharing app</li>
                        <li>Standard pickup and drop-off service</li>
                        <li>No surge pricing during peak hours</li>
                        <li>Dedicated customer support line</li>
                        <li>Exclusive access to premium</li>
                        <li>24/7 customer support</li>
                    </ul>
                    <a href="#" class="btn btn-primary mt-4">Get Started <i class="fa fa-arrow-right"></i></a>
                </div>
            </div><!--  Package End -->
            <div class="col-xl-3 col-md-6">
                <div class="package-item ct-bg position-relative text-center">
                    <span class="package-name text-uppercase">Group Package</span>
                    <div class="pricing-box">
                        <h3><sup>$</sup>199</h3>
                        <span class="text-mute text-xs">Per user / Month</span>
                    </div>
                    <ul>
                        <li>Standard Economy Cars</li>
                        <li>Access to all basic features of the ride-sharing app</li>
                        <li>Standard pickup and drop-off service</li>
                        <li>No surge pricing during peak hours</li>
                        <li>No surge pricing during peak hours</li>
                        <li>Dedicated customer support line</li>
                        <li>Exclusive access to premium</li>
                        <li>24/7 customer support</li>
                    </ul>
                    <a href="#" class="btn btn-primary mt-4">Get Started <i class="fa fa-arrow-right"></i></a>
                </div>
            </div><!--  Package End -->
            <div class="col-xl-3 col-md-6">
                <div class="package-item ct-bg position-relative text-center">
                    <span class="package-name text-uppercase">luxury Package</span>
                    <div class="pricing-box">
                        <h3><sup>$</sup>499</h3>
                        <span class="text-mute text-xs">Per user / Month</span>
                    </div>
                    <ul>
                        <li>Standard Economy Cars</li>
                        <li>Access to all basic features of the ride-sharing app</li>
                        <li>Standard pickup and drop-off service</li>
                        <li>No surge pricing during peak hours</li>
                        <li>No surge pricing during peak hours</li>
                        <li>Dedicated customer support line</li>
                        <li>Exclusive access to premium</li>
                        <li>24/7 customer support</li>
                    </ul>
                    <a href="#" class="btn btn-primary mt-4">Get Started <i class="fa fa-arrow-right"></i></a>
                </div>
            </div><!--  Package End -->
        </div>
    </div>
</main>
<!-- Main End -->
