<p>sign-in works!</p>
<!-- Promo Start -->
<section class="promo-sec" style="background: url('images/promo-bg.jpg')no-repeat center center / cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="promo-wrap text-center">
                    <h2 class="fw-bold text-white text-uppercase">create account</h2>
                    <nav aria-label="breadcrumb w-75 mx-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">sign up</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Promo End -->

<!-- Main Start -->
<main class="main sec-padding my-account">
    <div class="container">
        <div class="row g-0 ct-bg">
            <div class="col-lg-6 bg-cover" style="background-image: url('images/sign-in.png');">

            </div>
            <div class="col-lg-6">
                <div class="signup-form">
                    <h2 class="sub-title border-bottom pb-4">sign up</h2>
                    <ul class="nav nav-pills mb-3 pt-4" id="pills-tab" role="tablist">
                        <li class="nav-item me-4" role="presentation">
                            <button class="nav-link text-uppercase  active" id="pills-rider-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-rider" type="button" role="tab" aria-controls="pills-rider"
                                aria-selected="true">sign up to ride</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link text-uppercase" id="pills-driver-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-driver" type="button" role="tab" aria-controls="pills-driver"
                                aria-selected="false">sign up to drive</button>
                        </li>

                    </ul>
                    <div class="tab-content pt-4" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-rider" role="tabpanel"
                            aria-labelledby="pills-rider-tab">
                            <form action="#">
                                <div class="mb-3">
                                    <input class="form-control" type="email" placeholder="Email *">
                                </div>
                                <div class="mb-3">
                                    <input class="form-control" type="password" placeholder="Password *">
                                </div>
                                <div class="d-flex justify-content-between">
                                    <a href="#">forget password</a>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-primary mt-3">Sign Up Ride</button>
                                <p>Don't have an account?<a href="sign-up.html">Sign up</a></p>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="pills-driver" role="tabpanel" aria-labelledby="pills-driver-tab">
                            <form action="#">
                                <div class="mb-3">
                                    <input class="form-control" type="email" placeholder="Email *">
                                </div>
                                <div class="mb-3">
                                    <input class="form-control" type="password" placeholder="Password *">
                                </div>
                                <div class="d-flex justify-content-between">
                                    <a href="#">forget password</a>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-primary mt-3">Sign In</button>
                                <p>Don't have an account?<a href="sign-up.html">Sign up</a></p>
                            </form>
                        </div>

                    </div> <!-- Tab End -->
                </div>
            </div>

        </div>
    </div>
</main>
<!-- Main End -->
