<!-- Promo Start -->
<section class="promo-sec" style="background: url('images/promo-bg.jpg')no-repeat center center / cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="promo-wrap text-center">
                    <h2 class="fw-bold text-white text-uppercase">Rider Details</h2>
                    <nav aria-label="breadcrumb w-75 mx-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">All rider</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Marbelle</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Promo End -->

<!-- Main Start -->
<main class="main sec-padding single-rider">
    <div class="container">
        <div class="row rider-wrap g-0 align-items-center">
            <div class="col-xl-3 col-lg-4 d-flex">
                <div class="rider-intro">
                    <img class="img-fluid" src="images/tm-lg.png" alt="">
                    <div class="social-share text-center my-4 share-white">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="#"><i class="fa-brands fa-skype"></i></a>
                    </div>
                    <ul class="quick-connect list-unstyled mt-4 border-top">
                        <li><a href="tel:(568) 367-987-237"><img src="images/icons/tel-g.png" alt="">(568) 367-987-237</a>
                        </li>
                        <li><img src="images/icons/loc-g.png" alt="">Hudson, Wisconsin(WI), 54016</li>
                        <li><a href="https://html.theme-village.com/cdn-cgi/l/email-protection#cfbda6abaaa1aab7aeaa8fa8a2aea6a3e1aca0a2"><img src="images/icons/message.png"
                                    alt=""><span class="__cf_email__" data-cfemail="493b202d2c272c3128092e24282025672a2624">[email&#160;protected]</span></a></li>
                    </ul>
                    <a href="#" class="btn btn-primary mt-4">Contact with Rider <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="rider-details">
                    <h2 class="fw-bold text-uppercase mb-0">Mabelle Gamble</h2>
                    <span class="text-uppercase text-mute mb-4 d-block text-xs">Talent Rider</span>
                    <p>Tempor orci dapibus ultrices in iaculis nunc sed augue. Feugiat in ante metus dictum at tempor
                        commodo. Venenatis
                        lectus
                        magna fringilla urna porttitor rhoncus dolor. Arcu dictum varius duis at consectetur lorem donec
                        massa.</p>
                    <p>Tempor orci dapibus ultrices in iaculis nunc sed augue. Feugiat in ante metus dictum at tempor
                        commodo lectus
                        magna
                        fringilla.</p>
                    <div class="row mt-5 driver-spec">
                        <div class="col">
                            <h5>Car:</h5>
                            <small>Toyota Camry</small>
                        </div>
                        <div class="col">
                            <h5>License No:</h5>
                            <small>6598-53267-7452</small>
                        </div>
                        <div class="col">
                            <h5>Experience:</h5>
                            <small>02 years with rideMates</small>
                        </div>
                        <div class="col">
                            <h5>Ratings:</h5>
                            <div class="d-flex ratings">
                                <div class="rate">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="rate-points text-mute">
                                    (4.9)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spec-list mt-5">
                        <h3 class="text-uppercase fw-bold mb-4">Others Info:</h3>
                        <ul class="car-specfication">
                            <li><span>Brand</span> Toyota</li>
                            <li><span>Year</span> 2020</li>
                            <li><span>Door</span> 04 Doors</li>
                            <li><span>Chesis</span> K-220432</li>
                            <li><span>Color</span> Green</li>
                            <li><span>Mileage</span> 60km</li>
                            <li><span>Brake</span> ABS</li>
                            <li><span>Person</span> 04</li>
                            <li><span>VIN</span> L-290209</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rider-default mt-5 pt-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6">
                    <div class="rider-man rider2 position-relative">
                        <div class="rider-media">
                            <img src="images/tm7.png" alt="rider">
                            <div class="rider-meta position-absolute text-white">
                                <h4>Toyouta 458 mx</h4>
                                <ul class="list-unstyled">
                                    <li>Rating: 4.9</li>
                                    <li>star rating</li>
                                    <li>Category: Ford</li>
                                    <li>Gear : Auto</li>
                                    <li>Passenger: 03</li>
                                    <li>Poel: Petrol</li>
                                </ul>
                            </div>
                        </div>
                        <div class="rider-info text-center">
                            <h3 class="h4"><a href="single-rider.html">Esther Howard</a></h3>
                            <p>Talent Rider</p>
                        </div>
                    </div>
                </div> <!-- Rider Member End -->
                <div class="col-lg-3 col-sm-6">
                    <div class="rider-man rider2 position-relative">
                        <div class="rider-media">
                            <img src="images/tm5.png" alt="rider">
                            <div class="rider-meta position-absolute text-white">
                                <h4>Toyouta 458 mx</h4>
                                <ul class="list-unstyled">
                                    <li>Rating: 4.9</li>
                                    <li>star rating</li>
                                    <li>Category: Ford</li>
                                    <li>Gear : Auto</li>
                                    <li>Passenger: 03</li>
                                    <li>Poel: Petrol</li>
                                </ul>
                            </div>
                        </div>
                        <div class="rider-info text-center">
                            <h3 class="h4"><a href="single-rider.html">Esther Howard</a></h3>
                            <p>Talent Rider</p>
                        </div>
                    </div>
                </div> <!-- Rider Member End -->
                <div class="col-lg-3 col-sm-6">
                    <div class="rider-man rider2 position-relative">
                        <div class="rider-media">
                            <img src="images/tm6.png" alt="rider">
                            <div class="rider-meta position-absolute text-white">
                                <h4>Toyouta 458 mx</h4>
                                <ul class="list-unstyled">
                                    <li>Rating: 4.9</li>
                                    <li>star rating</li>
                                    <li>Category: Ford</li>
                                    <li>Gear : Auto</li>
                                    <li>Passenger: 03</li>
                                    <li>Poel: Petrol</li>
                                </ul>
                            </div>
                        </div>
                        <div class="rider-info text-center">
                            <h3 class="h4"><a href="single-rider.html">Esther Howard</a></h3>
                            <p>Talent Rider</p>
                        </div>
                    </div>
                </div> <!-- Rider Member End -->
                <div class="col-lg-3 col-sm-6">
                    <div class="rider-man rider2 position-relative">
                        <div class="rider-media">
                            <img src="images/tm7.png" alt="rider">
                            <div class="rider-meta position-absolute text-white">
                                <h4>Toyouta 458 mx</h4>
                                <ul class="list-unstyled">
                                    <li>Rating: 4.9</li>
                                    <li>star rating</li>
                                    <li>Category: Ford</li>
                                    <li>Gear : Auto</li>
                                    <li>Passenger: 03</li>
                                    <li>Poel: Petrol</li>
                                </ul>
                            </div>
                        </div>
                        <div class="rider-info text-center">
                            <h3 class="h4"><a href="single-rider.html">Esther Howard</a></h3>
                            <p>Talent Rider</p>
                        </div>
                    </div>
                </div> <!-- Rider Member End -->
                <div class="col-lg-3 col-sm-6">
                    <div class="rider-man rider2 position-relative">
                        <div class="rider-media">
                            <img src="images/tm8.png" alt="rider">
                            <div class="rider-meta position-absolute text-white">
                                <h4>Toyouta 458 mx</h4>
                                <ul class="list-unstyled">
                                    <li>Rating: 4.9</li>
                                    <li>star rating</li>
                                    <li>Category: Ford</li>
                                    <li>Gear : Auto</li>
                                    <li>Passenger: 03</li>
                                    <li>Poel: Petrol</li>
                                </ul>
                            </div>
                        </div>
                        <div class="rider-info text-center">
                            <h3 class="h4"><a href="single-rider.html">Esther Howard</a></h3>
                            <p>Talent Rider</p>
                        </div>
                    </div>
                </div> <!-- Rider Member End -->
                <div class="col-lg-3 col-sm-6">
                    <div class="rider-man rider2 position-relative">
                        <div class="rider-media">
                            <img src="images/tm9.png" alt="rider">
                            <div class="rider-meta position-absolute text-white">
                                <h4>Toyouta 458 mx</h4>
                                <ul class="list-unstyled">
                                    <li>Rating: 4.9</li>
                                    <li>star rating</li>
                                    <li>Category: Ford</li>
                                    <li>Gear : Auto</li>
                                    <li>Passenger: 03</li>
                                    <li>Poel: Petrol</li>
                                </ul>
                            </div>
                        </div>
                        <div class="rider-info text-center">
                            <h3 class="h4"><a href="single-rider.html">Esther Howard</a></h3>
                            <p>Talent Rider</p>
                        </div>
                    </div>
                </div> <!-- Rider Member End -->
                <div class="col-lg-3 col-sm-6">
                    <div class="rider-man rider2 position-relative">
                        <div class="rider-media">
                            <img src="images/tm10.png" alt="rider">
                            <div class="rider-meta position-absolute text-white">
                                <h4>Toyouta 458 mx</h4>
                                <ul class="list-unstyled">
                                    <li>Rating: 4.9</li>
                                    <li>star rating</li>
                                    <li>Category: Ford</li>
                                    <li>Gear : Auto</li>
                                    <li>Passenger: 03</li>
                                    <li>Poel: Petrol</li>
                                </ul>
                            </div>
                        </div>
                        <div class="rider-info text-center">
                            <h3 class="h4"><a href="single-rider.html">Esther Howard</a></h3>
                            <p>Talent Rider</p>
                        </div>
                    </div>
                </div> <!-- Rider Member End -->

                <div class="col-lg-3 col-sm-6">
                    <div class="rider-man rider2 position-relative">
                        <div class="rider-media">
                            <img src="images/tm10.png" alt="rider">
                            <div class="rider-meta position-absolute text-white">
                                <h4>Toyouta 458 mx</h4>
                                <ul class="list-unstyled">
                                    <li>Rating: 4.9</li>
                                    <li>star rating</li>
                                    <li>Category: Ford</li>
                                    <li>Gear : Auto</li>
                                    <li>Passenger: 03</li>
                                    <li>Poel: Petrol</li>
                                </ul>
                            </div>
                        </div>
                        <div class="rider-info text-center">
                            <h3 class="h4"><a href="single-rider.html">Esther Howard</a></h3>
                            <p>Talent Rider</p>
                        </div>
                    </div>
                </div> <!-- Rider Member End -->
            </div>
        </div>
    </div>

</main>
<!-- Main End -->