
<app-header *ngIf="showHeaderFooter"></app-header>
<app-driverheader *ngIf="!showHeaderFooter"></app-driverheader>
<app-customer-header *ngIf="!showCustomerDashboard"></app-customer-header>
<div class="container">
  <div class="row">
    <app-nav class="col-sm-3" *ngIf="!showHeaderFooter"></app-nav>
    <app-customer-nav class="col-sm-3" *ngIf="!showCustomerDashboard"></app-customer-nav>
    <div class="col-sm-9 sec-padding">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer *ngIf="!showHeaderFooter"></app-footer>
<app-driverfooter *ngIf="!showHeaderFooter"></app-driverfooter>
<app-customer-footer *ngIf="!showCustomerDashboard">
</app-customer-footer>


