
<footer class="footer footer-default">
  
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 order-2 order-sm-1">
                    <p class="copy-right mb-0 text-white">© All rights reserved. Made by || <a class="text-primary"
                            href="https://theme-village.com/" target="_blank" rel="noopener">theme-village</a>
                    </p>
                </div>
                <div class="col-lg-6 col-sm-6 order-1 order-sm-2">
                    <div class="social-share text-sm-end">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-skype"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>