<p>contact works!</p>
<!-- Promo Start -->
<section class="promo-sec" style="background: url('images/promo-bg.jpg')no-repeat center center / cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="promo-wrap text-center">
                    <h2 class="fw-bold text-white text-uppercase">Contact Us</h2>
                    <nav aria-label="breadcrumb w-75 mx-auto">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contact us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Promo End -->

<!-- Main Start -->
<main class="main sec-padding my-account">
    <div class="container">
        <div class="row g-5 align-self-stretch">
            <div class="col-lg-6 col-12">
                <div class="contact-us ct-bg p-sm-5 p-4 h-100">
                    <h2 class="sub-title mb-5 border-bottom pb-4">get in touch</h2>
                    <form action="#">
                        <div class="mb-3">
                            <input class="form-control" type="text" placeholder="Full Name *">
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="number" placeholder="Phone *">
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="email" placeholder="Email *">
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="password" placeholder="Password *">
                        </div>

                        <button class="btn btn-primary mt-3">Send Message</button>
                    </form>
                    <div class="contact-widget widget mt-5 pt-4">
                        <h3 class="sub-title xs-title mb-4">
                            Contact Info:
                        </h3>
                        <ul class="list-unstyled">
                            <li><img class="me-3" src="images/icons/tel-g.png" alt=""><a href="tel:(568) 367-987-237">(568)
                                    367-987-237</a></li>
                            <li><img class="me-3" src="images/icons/loc-g.png" alt="">Hudson, Wisconsin(WI), 54016</li>
                            <li><img class="me-3" src="images/icons/message.png" alt=""><a href="https://html.theme-village.com/cdn-cgi/l/email-protection#06746f626368637e46616b676f6a2865696b"><span class="__cf_email__" data-cfemail="bac8d3dedfd4dfc2dbfaddd7dbd3d694d9d5d7">[email&#160;protected]</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="google-map h-100">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d99370.29950629402!2d-77.01457599999999!3d38.8937545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7c6de5af6e45b%3A0xc2524522d4885d2a!2sWashington%2C%20DC%2C%20USA!5e0!3m2!1sen!2sbd!4v1699800973163!5m2!1sen!2sbd"
                        width="100%" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

            </div>

        </div>
    </div>
</main>
<!-- Main End -->